<li class="comment">
  <article class="row">
    <header class="row">
      <figure class="large-2 columns"><%= image_tag comment.user.avatar %></figure>
      <div class="large-10 columns">
        <h3 class="fn"><%= comment.user.display_name %></h3>
        <p class="comment-meta">
          <time title="<%= comment.created_at.to_s(:iso_date_time) %>" datetime="<%= comment.created_at.to_s(:rfc822) %>" pubdate><%= comment.created_at.to_s(:iso_date_time) %></time>
          <% if policy(comment).destroy? %>
            <span class="sep">|</span> <%= link_to t('delete'), post_comment_path(comment.post, comment), method: :delete, data: { confirm: t('confirm') } %>
          <% end %>
        </p>
      </div>
    </header>
    <div class="comment-text large-10 columns large-offset-2">
      <%= markdown comment.body %>
    </div>
  </article>
</li>
