<%= simple_form_for [@post, @comment] do |f| %>
  <%= f.error_notification %>
  <div class="row comment-area">
    <div class="large-12 columns">
      <%= f.input :body, as: :text, label: false, placeholder: t('.write_comment') %>
    </div>
  </div>
  <div class="row">
    <%= button_tag :class => 'preview large-12 columns secondary',
                   :data => {:text => "#comment_body"} do %>
      <%= t "preview" %>
    <% end %>

    <%= f.button :submit %>
  </div>
<% end %>

<%= render "shared/markdown_preview" %>
