<%= content_for :title, "Menu links" %>
<%= content_for :buttons, (link_to 'New Menu link', new_menu_link_path, class: "button tiny") %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Controller</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_links.each do |menu_link| %>
      <tr>
        <td><%= menu_link.title %></td>
        <td><%= menu_link.controller %></td>
        <td><%= menu_link.action %></td>
        <td><%= link_to 'Show', menu_link %></td>
        <td><%= link_to 'Edit', edit_menu_link_path(menu_link) %></td>
        <td><%= link_to 'Destroy', menu_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu link', new_menu_link_path %>
