<%= content_for :title, (@menu_link.title + " menu link") %>
<% content_for :buttons do %>
  <%= link_to 'Edit', edit_menu_link_path(@menu_link), class: "button tiny" %>
  <%= link_to 'Back', menu_links_path, class: "button tiny" %>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Controller:</strong>
  <%= @menu_link.controller %>
</p>

<p>
  <strong>Action:</strong>
  <%= @menu_link.action %>
</p>
