<p id="notice"><%= notice %></p>

<p>
  <strong>Menu:</strong>
  <%= @menu_link.menu %>
</p>

<p>
  <strong>Controller:</strong>
  <%= @menu_link.controller %>
</p>

<p>
  <strong>Action:</strong>
  <%= @menu_link.action %>
</p>

<p>
  <strong>Params:</strong>
  <%= @menu_link.params %>
</p>

<p>
  <strong>Title:</strong>
  <%= @menu_link.title %>
</p>

<%= link_to 'Edit', edit_menu_link_path(@menu_link) %> |
<%= link_to 'Back', menu_links_path %>
