<section class="author-info row media-block">
  <figure class="media-image">
    <%= image_tag user.avatar, class: 'avatar avatar-64 photo', size: '64' %>
  </figure>
  <hgroup>
    <h3><%= user.display_name %></h3>
    <h4><%= user.positions.send(group.slug) %> i <%= group.name %></h4>
  </hgroup>

  <ul class="author-links list">
    <li>
      <%= link_to t('.see_all_posts_by', user: user.given_name), posts_path(user: user), class: 'read-more' %>
    </li>
  </ul>
</section>
