<figure class="large-2 columns"><%= image_tag user.avatarUrl %></figure>
<div class="large-8 columns">
  <h3 class="fn user-position"><%= position %></h3>
  <% unless info.nil? %>
    <h3 class="fn"><%= user.nick %></h3>
    <p>
      <%= info.body %>
    </p>
  <% else %>
    <h3 class="fn"><%= user.nick %></h3>
  <% end %>
</div>
<div class="large-2 columns">
  <% if info.nil? %>
    <% if policy(UserGroupInfo).create? %>
    <%= link_to t('create'), new_user_group_info_path, class: "button tiny" %>
    <% end %>
  <% else %>
    <% if policy(info).edit? %>
      <%= link_to t('edit'), edit_user_group_info_path(info), class: "button tiny" %>
    <% end %>
  <% end %>
</div>
