<b><%= t '.card_holder' %>:</b> <%= @name %><br>
<b><%= t '.card_number' %>:</b> <%= @number %><br>
<b><%= t '.balance' %>:</b> <%= @balance %> kr <br>
<button id="student-union-exit" class="button smaller expand"><%= t '.remove_card' %></button>
