<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>

  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :parent_id, as: :select, collection: @other_pages , value_method: :id, label_method: :title, include_blank: true %>
  <div class="large-12 columns" id="documents_container">
    <%= f.label :documents, Post.human_attribute_name(:documents) + " (pdf, md, txt)"%>
    <div class="documents-input-container">
      <%= f.file_field :documents,  multiple: true, :class => "document-input"  %>
      <button type="button" class="ui-button tiny add-file-button" id="addFile" onclick="addFileInput();"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
    </div>
    <% @page.documents.each do |doc| %>
      <div class="article-single-attachment">
        <%= link_to File.basename(doc.path), doc.url, target: :blank %>
        <%= link_to "delete", delete_document_url(@page, File.basename(doc.path)),:data => {:confirm => 'Are you sure?'} %>
      </div>
    <% end %>
  </div>
  <div class="list-document-urls" id="list-document-urls">
  </div>
  <%= button_tag :class => 'preview large-12 columns',
                 :data => {:text => "#page_body", :title => "#page_title"} do %>
    <%= t "preview" %>
  <% end %>

  <%= f.button :submit %>
<% end %>

<%= render "shared/markdown_preview" %>
