<% content_for :title, @frontpage.title %>


<% content_for :sidebar_left do %>
  <%= render partial: 'pages/sidebar', locals: {current_page: @frontpage} %>
<% end %>

<%= markdown @frontpage.body %>
<p id="notice"><%= notice %></p>

<% unless @frontpage.parent.nil? %>
    <%= link_to 'Parent', path_to_page(@frontpage.parent) %>
<% end %>
<% if policy(Page).update? %>
  <%= content_for :buttons, (link_to 'Edit', edit_page_path(@frontpage), class: "button tiny") %>
<% end %>
