<% content_for :sidebar_left do %>
  <%= render partial: 'pages/sidebar' %>
<% end %>
<h1>Listing pages</h1>

<table>
  <thead>
    <tr>
      <th><%= Page.human_attribute_name('title') %></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.title, path_to_page(page) %></td>
        <td><%= link_to 'Show', path_to_page(page) %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', path_to_page(page), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
