<% content_for :title, @page.title %>
<% content_for :sidebar_left do %>
	<%= render partial: 'pages/sidebar' %>
<% end %>
<p id="notice"><%= notice %></p>

<% unless @page.parent.nil? %>
    <%= link_to 'Parent', @page.parent %> 
<% end %>
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
