<% content_for :title, @page.title %>
<% content_for :sidebar_left do %>
	<%= render partial: 'pages/sidebar', locals: {current_page: @page} %>
<% end %>

<%= markdown @page.body %>
<p id="notice"><%= notice %></p>

<% unless @page.parent.nil? %>
    <%= link_to 'Parent', path_to_page(@page.parent) %>
<% end %>
<% if policy(Page).update? %>
	<%= content_for :buttons, (link_to 'Edit', edit_page_path(@page), class: "button tiny") %>
<% end %>
<%= link_to 'Back', pages_path %>
