<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @committee.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @committee.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @committee.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @committee.url, @committee.url %>
</p>

<p>
  <strong>Email:</strong>
  <%= link_to @committee.email, "mailto:#{@committee.email}" %>
</p>

<%= link_to 'Edit', edit_committee_path(@committee) %> |
<%= link_to 'Back', committees_path %>
