<% content_for :sidebar_right do %>
  <%= render partial: 'committees/sidebar' %>
<% end %>
<% content_for :sidebar_left do %>
  <%= render partial: 'pages/sidebar', locals: {current_committee: @committee} %>
<% end %>
<% content_for :title, @committee.name %>
<% content_for :subtitle, @committee.title %>

<p>
  <%= markdown @committee.description unless @committee.description.nil? %>
</p>
<% @committee.positions.each do |pos| %>
  <div class="row committee-position">
    <% user = User.find(pos.first) %>
    <figure class="large-2 columns"><%= image_tag user.avatar %></figure>
      <div class="large-10 columns">
        <% unless pos.third.nil? %>
          <h3 class="fn"><%= user.display_name %></h3>
          <p>
            <% pos.third %>
          </p>
        <% else %>
          <h2 class="fn"><%= user.display_name %></h2>
        <% end %>
      </div>
  </div>
<% end %>
<% if policy(@committee).update? %>
  <% content_for :buttons, (link_to t('edit'), edit_committee_path(@committee), class: "button tiny") %>
<% end %>
