<% content_for :title, Course.model_name.human(count:2) %>
<table width="100%;">
  <thead>
    <tr>
        <th colspan="2"><%= Course.human_attribute_name 'code' %></th>
        <th><%= Course.human_attribute_name 'name' %></th>
        <th><%= Course.human_attribute_name 'year' %></th>
        <th><%= Course.human_attribute_name 'period' %></th>
        <th><%= Course.human_attribute_name 'required' %></th>
        <% if policy(Course).update? %>
          <th colspan="2">Actions</th>
        <% end %>
    </tr>
  </thead>

  <tbody>
    <% @courses.sort_by{ |c| c.year}.each do |course| %>
      <tr>
        <td><%= link_to course.code, course %></td>
        <td><%= if course.homepage? then link_to "", "http://#{course.homepage}" else "" end  %></td>
        <td><%= course.name %></td>
        <td><%= course.year %></td>
        <td><%= "Period #{course.periods.map{ |p| p.id}.join(", ")}" %></td>
        <td><%= course.required ? t('yes') : t('no')  %></td>
        <% if policy(Course).update? %>
          <td><%= link_to t('edit'), edit_course_path(course) %></td>
        <% end %>
        <% if policy(Course).destroy? %>
          <td><%= link_to t('delete'), course, method: :delete, data: { confirm: t('confirm') } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if policy(Course).create? %>
  <%= link_to t('new', name:Course.model_name.human), new_course_path %>
<% end %>
