<div class="row">
  <div class="large-6 columns">
    <%= f.label :event_date do %>
      <%= Event.human_attribute_name(:event_date) %>
      <%= f.date_field :event_date %>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= f.label :full_day do %>
      <%= f.check_box :full_day %>
      <%= Event.human_attribute_name(:full_day) %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <%= f.label :start_time do %>
      <%= Event.human_attribute_name(:start_time) %>
      <%= f.time_field :start_time %>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= f.label :end_time do %>
      <%= Event.human_attribute_name(:end_time) %>
      <%= f.time_field :end_time %>
    <% end %>
  </div>
</div>
<div class="row collapse">
  <%= f.label :facebook_link %>
  <div class="small-3 large-2 columns">
    <span class="prefix">http://</span>
  </div>
  <div class="small-9 large-10 columns">
    <%= f.text_field :facebook_link %>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <%= f.label :location do %>
      <%= Event.human_attribute_name(:location) %>
      <%= f.text_field :location %>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= f.label :organizer do %>
      <%= Event.human_attribute_name(:organizer) %>
      <%= f.text_field :organizer, placeholder: t('.empty_if_group') %>
    <% end %>
  </div>
</div>
