<div class="row">
  <div class="large-6 columns">
    <%= f.label :event_date do %>
      <%= Event.human_attribute_name(:event_date) %>
      <%= f.date_field :event_date %>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= f.label :full_day do %>
      <%= Event.human_attribute_name(:full_day) %>
      <%= f.check_box :full_day %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <%= f.label :start_time do %>
      <%= Event.human_attribute_name(:start_time) %>
      <%= f.time_field :start_time %>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= f.label :end_time do %>
      <%= Event.human_attribute_name(:end_time) %>
      <%= f.time_field :end_time %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= f.label :facebook_link do %>
      <%= Event.human_attribute_name(:facebook_link) %>
      <%= f.text_field :facebook_link %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="large-6 columns">
    <%= f.label :location do %>
      <%= Event.human_attribute_name(:location) %>
      <%= f.text_field :location %>
    <% end %>
  </div>
  <div class="large-6 columns">
    <%= f.label :organizer do %>
      <%= Event.human_attribute_name(:organizer) %>
      <%= f.text_field :organizer %>
    <% end %>
  </div>
</div>
