<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="large-6 columns">
      <%= f.input :group_id, label: t('.groupid_placeholder'),
        collection: current_user.committees,
        prompt: false, label_method: :name, value_method: :slug %>
    </div>
  </div>
  <%= render 'localized_fields', f: f %>
  <div class="large-12 columns" id="documents_container">
    <%= f.label :documents, Post.human_attribute_name(:documents) + " (pdf, md, txt)"%>
    <div class="documents-input-container">
      <%= f.file_field :documents,  multiple: true, :class => "document-input"%>
      <button type="button" class="ui-button tiny add-file-button" id="addFile" onclick="addFileInput();"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
    </div>
  </div>
  <div class="list-document-urls" id="list-document-urls">
  </div>
  <div class="row">
    <%= f.input :sticky %> <%= f.input :show_public %>
  </div>
  <%= f.simple_fields_for :event do |builder| %>
    <div class="row">
      <%= builder.input :_destroy, as: :boolean, label: Event.model_name.human, checked: show_event_fields?, checked_value: 0, unchecked_value: 1 %>
    </div>
    <fieldset id="event_fields_container" class="<%= ('hide' unless show_event_fields?) %>">
      <legend><%= Event.model_name.human %></legend>
        <%= render 'event_fields', f: builder %>
    </fieldset>
  <% end %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>

<%= render "shared/markdown_preview" %>
