<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="large-6 columns">
      <%= f.input :user_id, placeholder: t('.userid_placeholder') %>
    </div>
    <div class="large-6 columns">
      <%= f.input :group_id, placeholder: t('.groupid_placeholder') %>
    </div>
  </div>
  <%= render 'localized_fields', f: f %>
  <div class="row">
    <%= f.input :sticky %>
  </div>
  <div class="row">
    <%= check_box_tag 'post_is_event', 1, show_event_fields? %>
    <%= label_tag 'post_is_event', Event.model_name.human %>
  </div>
  <fieldset id="event_fields_container" class="<%= ('hide' unless show_event_fields?) %>">
    <legend><%= Event.model_name.human %></legend>
    <%= f.fields_for @event do |builder| %>
      <%= render 'event_fields', f: builder %>
    <% end %>
  </fieldset>
  <div class="row">
    <div class="large-12 columns">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
