<% content_for :sidebar_left do %>
	<div class="row">
		<div class="columns large-12 box">
			<h2>Cheat sheet</h2>
			<h3>Headers</h3>
			<code>
				<div class="code">
					# This is an &lt;h1&gt; tag <br>
					## This is an &lt;h2&gt; tag <br>
					###### This is an &lt;h6&gt; tag
				</div>
			</code>
			<hr>
			<h3>Emphasis</h3>
			<code>
				<div class="code">
					*This text will be italic*<br>
					_This will also be italic_<br>
					<br>
					**This text will be bold**<br>
					__This will also be bold__<br>
					<br>
					_You **can** combine them_
				</div>
			</code>
			<br>More <a href="https://guides.github.com/features/mastering-markdown/">here</a>
		</div>
	</div>
<% end %>

<%= simple_form_for(@post, html: { novalidate: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="row">
    <div class="large-6 columns">
      <%= f.input :group_id, label: t('.groupid_placeholder'),
        collection: current_user.committees,
        prompt: false, label_method: :name, value_method: :slug %>
    </div>
  </div>
  <%= render 'localized_fields', f: f %>
  <div class="row">
    <%= f.input :sticky %> <%= f.input :show_public %>
  </div>
  <%= f.simple_fields_for :event do |builder| %>
    <div class="row">
      <%= builder.input :_destroy, as: :boolean, label: Event.model_name.human, checked: show_event_fields?, checked_value: 0, unchecked_value: 1 %>
    </div>
    <fieldset id="event_fields_container" class="<%= ('hide' unless show_event_fields?) %>">
      <legend><%= Event.model_name.human %></legend>
        <%= render 'event_fields', f: builder %>
    </fieldset>
  <% end %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>

<%= render "shared/markdown_preview" %>
