<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= t 'errors.template.header', count: @post.errors.count, model:Post.model_name.human.downcase %>:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :user_id do %>
        <%= Post.human_attribute_name(:user_id) %>
        <%= f.text_field :user_id, placeholder: t('.userid_placeholder') %>
      <% end %>
    </div>
    <div class="large-6 columns">
      <%= f.label :group_id do %>
        <%= Post.human_attribute_name(:group_id) %>
        <%= f.text_field :group_id, placeholder: t('.groupid_placeholder') %>
      <% end %>
    </div>
  </div>
  <%= render partial: "localized_fields", locals:{f:f} %>
  <div class="row">
    <%= f.label :sticky do %>
      <%= f.check_box :sticky %>
      <%= Post.human_attribute_name(:sticky) %>
    <% end %>
  </div>
  <div class="row">
    <%= check_box_tag 'post_is_event', 1, show_event_fields? %>
    <%= label_tag 'post_is_event', Event.model_name.human %>
  </div>
  <fieldset id="event_fields_container" class="<%= ('hide' unless show_event_fields?) %>">
    <legend><%= Event.model_name.human %></legend>
    <%= f.fields_for :event do |builder| %>
      <%= render partial: 'event_fields' , locals: {f: builder} %>
    <% end %>
  </fieldset>
  <div class="row">
    <div class="large-12 columns">
      <%= f.submit class: 'button large-12' %>
    </div>
  </div>
<% end %>
