<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= t 'errors.template.header', count: @post.errors.count, model:Post.model_name.human.downcase %>:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :user_id do %>
        <%= Post.human_attribute_name(:user_id) %>
        <%= f.text_field :user_id, placeholder: t('.userid_placeholder') %>
      <% end %>
    </div>
    <div class="large-6 columns">
      <%= f.label :group_id do %>
        <%= Post.human_attribute_name(:group_id) %>
        <%= f.text_field :group_id, placeholder: t('.groupid_placeholder') %>
      <% end %>
    </div>
  </div>
  <%= render partial: "localized_fields", locals:{f:f} %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :sticky do %>
        <%= Post.human_attribute_name(:sticky) %>
        <%= f.check_box :sticky %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.submit class: 'button large-12' %>
    </div>
  </div>
<% end %>

<div id="preview" class="reveal-modal" data-reveal>
  <h2 class="post-title"></h2>
  <article role="article">
    <div class="article-inner">
      <div class="article-content"></div>
    </div>
  </article>
  <a class="close-reveal-modal">&#215;</a>
</div>
