<dl class="tabs" data-tab>
  <% I18n.available_locales.each do |locale| %>
    <dd class="<%= "active" if I18n.locale == locale %>"><%= link_to image_tag("flags/#{locale}.svg", size: "32"), "#lan-#{locale}" %></dd>
  <% end %>
</dl>
<div class="tabs-content">
  <% active = I18n.locale %>
  <% I18n.available_locales.each do |locale| %>
    <% I18n.with_locale(locale) do %>
      <div class="content <%= "active" if active == locale %>" id="lan-<%= locale %>">
        <div class="row">
          <div class="large-12 columns">
            <%= f.input "title_#{locale}", label: Post.human_attribute_name(:title), placeholder: t('posts.form.title_placeholder') %>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <%= f.input "body_#{locale}", as: :text, label: Post.human_attribute_name(:body), placeholder: t('posts.form.body_placeholder'), input_html: { rows: 20 } %>
          </div>
        </div>
        <button class="preview large-12 columns" data-text="#post_body_<%= locale %>" data-title="#post_title_<%= locale %>"><%= t 'preview' %></button>
      </div>
    <% end %>
  <% end %>
</div>
