<article role="article" class="<%= 'event' if post.event? %> main-content">
  <div class="article-inner">
    <header>
      <h1><%= link_to post.title, post %></h1>
      <% unless has_translation? post %>
      <div data-alert class="alert-box warning">
        <h4><%= t 'translation_missing', model: Post.model_name.human.downcase %></h4>
      </div>
      <% end %>
      <p class="meta">
        <%= link_to post.comments.size, post_path(post, anchor: 'comments'), title: "#{post.comments.size} #{Comment.model_name.human(count:post.comments.size).downcase}", class: 'comments-bubble smooth', data: { tooltip: '' } %>
        <span class="sep">|</span> <time data-tooltip title="<%= t 'published' %> <%= post.created_at.to_s(:iso_date_time) %>" datetime="<%= post.created_at.to_s(:rfc822) %>" pubdate><%= post.created_at.to_s(:day_month) %></time>
        <span class="sep">|</span> <%= link_to t('permalink'), post %>
        <span class="sep">|</span>  <%= t '.posted_for' %> <%= link_to_committee post %> <%= t '.by' %> <%= link_to post.user.display_name, posts_path(user: post.user), title: "#{t '.posts_by'} #{post.user.display_name}", rel: 'author' %>
        <% if policy(post).update? %>
          <span class="sep">|</span> <%= link_to t('helpers.submit.update', model: Post.model_name.human.downcase), edit_post_path(post) %>
        <% end %>
      </p>
    <% if post.event? %>
    <ul class="meta event-meta">
      <li class="icon-clock"><%= l post.event.event_date, format: '%e %b' %>, <%= l post.event.start_time, format: '%R' %>-<%= l post.event.end_time, format: '%R' %></li>
      <% unless post.event.location.blank? %>
        <li class="icon-map-pin-fill"><%= post.event.location %></li>
      <% end %>
      <% unless post.event.facebook_link.blank? %>
        <li class="icon-facebook-sign" data-tooltip title="<%= t '.facebook_link_to_event' %>">
          <%= link_to 'Facebook', post.event.facebook_link, target: :blank %>
        </li>
      <% end %>
      <li data-tooltip title="<%= t '.organizer_event' %>" class="icon-user">
      <% if post.event.organizer.blank? %>
        <%= link_to_committee post %>
      <% else %>
        <%= post.event.organizer %>
      <% end %>
      </li>
    </ul>
    <% end %>
    </header>
    <div class="article-content"><%= markdown post.body %></div>
  </div>
</article>
