<article role="article">
  <div class="article-inner">
    <header>
      <h1><%= link_to post.title, post %></h1>
      <p class="meta">
        <%= link_to '0', post, title: 'No comments', class: 'comments-bubble smooth', data: { tooltip: '' } %>
        <span class="sep">|</span> <time data-tooltip title="Publicerad <%= post.created_at.to_s(:iso_date_time) %>" datetime="<%= post.created_at.to_s(:rfc822) %>" pubdate><%= post.created_at.to_s(:day_month) %></time>
        <span class="sep">|</span> <%= link_to 'Permalink', post %>
        <span class="sep">|</span> Posted by <%= link_to post.user_id, '#', title: "Posts by #{post.user_id}", rel: 'author' %>
        <span class="sep">|</span> <%= link_to 'Edit post', edit_post_path(post) %>
      </p>
    </header>
    <div class="article-content"><%= markdown post.body %></div>
  </div>
</article>