<% content_for :head do %>
  <%= post_meta(@post).html_safe %>
<% end %>
<% content_for :sidebar_right do %>
  <%= render 'users/sidebar', {:user => @post.user, :group => @post.group} %>
<% end %>
<% content_for :title, @post.title %>
<%= render @post %>

<section id="comments">
    <% if @comments.any? %>
      <ol class="commentlist">

        <%= render partial: 'comments/comment', collection: @comments, cache: true %>
      </ol>
    <% end %>
  <% if policy(Comment).create? %>
    <section id="respond">
      <%= render 'comments/form', comment: @post.comments.build %>
    </section>
  <% else %>
    <section id="respond" class="message">
      <%= t '.sign_in_add_comment' %>
    </section>
  <% end -%>
</section>
<div class="row post-navigation">
  <% if get_previous(@post).nil? %>
    <div class="large-4 columns"></div>
  <% else %>
    <%= link_to (post_path get_previous(@post)), rel: 'prev', class: 'large-4 columns' do %>
      <i class="fa prev-item" aria-hidden="true"> <%= t('.prev_posts') %> </i>
    <% end %>
  <% end %>
  <%= link_to t('.all_posts'), posts_path, class: 'button large-4 columns' %>
  <% if get_next(@post).nil? %>
    <div class="large-4 columns"></div>
  <% else %>
    <%= link_to post_path(get_next(@post)), rel: 'next', class: 'large-4 columns' do %>
      <i class="fa next-item" aria-hidden="true"> <%= t('.next_posts') %> </i>
    <% end %>
  <% end %>
</div>
