<%= render @post %>

<div class="row">
  <%= link_to 'Previous post', post_path(@post.previous), rel: 'prev', class: 'button large-4 columns' unless @post.previous.nil? %>
  <%= link_to 'All posts', posts_path, class: 'button secondary large-4 columns' %>
  <%= link_to 'Next post', post_path(@post.next), rel: 'next', class: 'button large-4 columns' unless @post.next.nil? %>
</div>

<section id="respond">
  <%= render partial: 'comments/form' %>
</section>

<% if @comments.any? %>
  <section id="comments">
    <ol class="commentlist">
      <%= render partial: 'comments/comment', collection: @comments, cache: true %>
    </ol>
  </section>
<% end %>