<% content_for :title, t('layouts.home.print') %>
<%= simple_form_for :print, url: "#{Rails.configuration.print_chalmers_it}/print", html: {id: 'new_print'}, remote: true do |f| %>
  <div class="row">
    <div class="small-6 columns">
      <%= f.input :file, as: :file %>
    </div>
    <div class="small-6 columns">
      <em><%= t '.supported_file_types' %>:<br> <%= @permitted_mime_types.join ', ' %></em>
    </div>
  </div>

  <%= f.label :printer %>
  <div class="row collapse">
    <div class="small-3 large-1 columns">
      <span class="prefix icon-align">
        <%= fa_icon 'print' %>
      </span>
    </div>
    <%= f.input :printer, label: false, class: 'small-9 large-11 columns' do %>
      <%= f.select :printer, [] %>
    <% end %>
  </div>

  <div class="suggestions">
    <%= f.label t('.suggestions'), required: false %>
    <ol class="printer-list" data-url="<%= "#{Rails.configuration.print_chalmers_it}/list.json" %>">
    </ol>
  </div>

  <%= f.input :duplex, as: :boolean, input_html: { checked: true } %>
  <%= f.input :collate, as: :boolean, input_html: { checked: true } %>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.input :copies, as: :integer, input_html: { min: 1, value: 1 }, required: false %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.input :ranges, required: false %>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <%= f.input :media, collection: ['A4'], required: false %>
    </div>
    <div class="small-12 medium-6 columns">
      <%= f.input :ppi, collection: @available_ppi, prompt: false, required: false %>
    </div>
  </div>

  <fieldset>
    <legend><%= t '.user' %></legend>
    <div class="row collapse">
        <div class="small-3 large-1 columns">
            <span class="prefix icon-align">
                <%= fa_icon 'user' %>
            </span>
        </div>
        <%= f.input :username, wrapper_html: {class: "small-3 large-2 columns"}, label: false %>

        <div class="small-3 large-1 columns large-offset-1">
            <span class="prefix icon-align">
                <%= fa_icon 'key' %>
            </span>
        </div>
        <%= f.input :password, wrapper_html: {class: "small-3 large-7 columns"}, label: false %>
    </div>
    <div class="row">
        <em><%= t('.password_notice') %></em>
        <br><br>
        <em><%= t('.forgot_pw_notice') %><%= link_to 'cdks', 'https://cdks.chalmers.se' %></em>
    </div>
  </fieldset>
    <div data-alert class="printer-feedback-success alert-box hidden success">
    <div class="msg">Your document has been sent to the printer!</div>
  </div>
  <div data-alert class="printer-feedback-alert alert-box hidden alert">
    <div class="msg"></div>
  </div>

  <%= f.button :submit, t('layouts.home.print') %>
<% end %>

<div id="pq" class="row" data-url="<%= "#{Rails.configuration.print_chalmers_it}/pq.json" %>">
  <div class="small-3 columns">
    <%= button_tag class: 'button secondary get-pq-button' do %>
      <span class="done">PQ</span><%= fa_icon 'circle-o-notch spin', class: 'done hidden' %>
    <% end %>
  </div>
  <div class="small-9 columns">
    <div data-alert class="alert-box alert hidden">
      <span class="error"></span>
    </div>
    <div data-alert class="alert-box success hidden">
      PQ for <output class="name"></output>: <output class="pq"></output>
    </div>
  </div>
</div>
