<%= form_for(@print) do |f| %>
  <% if @print.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@print.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @print.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.file_field :file %>
  <%= f.label :printer %>
  <%= f.select :printer do %>
    <% Printer.order(weight: :desc).each do |p| %>
      <%= content_tag(:option, p.name, value: p.name, data: { media: p.media, location: p.location }) %>
    <% end %>
  <% end %>
  <%= label_tag("Suggestions") %>
  <ol class="printer-list">
  <% Printer.order(weight: :desc).limit(10).each do |p| %>
    <li><%= link_to p.name, '#', class: 'set-printer'  %></li>
  <% end %>
  </ol>
  <%= f.label(:copies, "Number of copies") %>
  <%= f.number_field(:copies) %>
  <%= f.label(:duplex, "Doublepaged: ") %>
  <%= f.check_box(:duplex, checked: true) %>
  <%= f.label(:ranges, "Range: ") %>
  <%= f.text_field(:ranges) %>
  <%= f.label(:media, "Papersize:") %>
  <%= f.select(:media, options_for_select(["A4"])) %>
  <%= f.label(:ppi, "Resolution:") %>
  <%= f.select(:ppi, options_for_select(Print.available_ppi)) %>
  <%= f.label(:username, "Username:") %>
  <%= f.text_field(:username) %>
  <%= f.label(:password, "Password:") %>
  <%= f.password_field(:password) %>
  <%= submit_tag %>
<% end %>