<header>
  <h2><%= t '.lunch' %>
    <time datetime="<%= Date.today.to_s '%F' %>"><%= l Date.today, format: '%e %B' %></time>
  </h2>
</header>
<% cache ["lunch", I18n.locale, Date.today] do %>
<div>
  <div class="lunch-group">
    <a href="http://chalmerskonferens.se/" target="_blank">
      <img src="<%= asset_path('chalmers-konferens.png') %>">
    </a>

    <% @chalmers_restaurants.each do |restaurant| %>
    <h3><%= restaurant[:name]%></h3>
    <dl>
      <% restaurant[:meals].each do |meal| %>
      <dt><%= meal[:title] %></dt>
      <dd><%= meal[:summary] %></dd>
      <% end %>
    </dl>
    <% end %>
  </div>
  <div class="lunch-group">
    <% @restaurants.each do |restaurant| %>
    <h3><%= restaurant[:name]%></h3>
    <dl>
      <% restaurant[:meals].each do |meal| %>
      <dt><%= meal[:title] %></dt>
      <dd><%= meal[:summary] %></dd>
      <% end %>
    </dl>
    <% end %>
  </div>
</div>
<% end %>
