<p id="notice"><%= notice %></p>

<h1>Listing User Group Infos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_group_infos.each do |user_group_info| %>
      <tr>
        <td><%= user_group_info.user.id %></td>
        <td><%= user_group_info.group.slug %></td>
        <td><%= link_to 'Show', user_group_info %></td>
        <td><%= link_to 'Edit', edit_user_group_info_path(user_group_info) %></td>
        <td><%= link_to 'Destroy', user_group_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User group info', new_user_group_info_path %>
