    </section>
    <footer role="contentinfo" itemscope itemtype="http://schema.org/EducationalOrganization">
      <div class="wrapper group">
        <section class="large-4 columns">
          <a class="block footer-home-link" href="/">
            <hgroup itemprop="description">
              <h1>
                  <%= t 'it' %>
              </h1>
              <h2>
                  <%= t 'cth' %>
              </h2>
            </hgroup>
          </a>

          <nav>
            <% 'footer_navigation' %>
          </nav>
        </section>
      <% cache ['contact', I18n.locale], expires_in: 24.hours do %>
        <section class="large-4 columns">
          <div class="footer-contact">
            <div class="row">
              <div class="column small-6 large-8 text-right"><dt><%= t 'contact' %></dt></div>
              <div class="column small-6 large-4"><dd><%= mail_to Configurable.main_contact %></dd></div>
            </div>

            <div class="row">
              <div class="column small-6 large-8 text-right"><dt><%= t 'mailing_address' %></dt></div>
              <div class="column small-6 large-4">
                <dd itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                  <span itemprop="name"><%= Configurable.contact_official_name %></span><br />
                  <span itemprop="streetAddress"><%= Configurable.contact_address %></span><br />
                  <span itemprop="postalCode"><%= Configurable.postal_code %></span>
                  <span itemprop="addressLocality"><%= Configurable.locality %></span>
                </dd>
              </div>
            </div>

            <div class="row">
              <div class="column small-6 large-8 text-right"><dt><%= t 'visiting_address' %></dt></div>
              <div class="column small-6 large-4">
                <dd><a href="https://maps.google.se/maps?f=q&source=s_q&hl=sv&geocode=&q=H%C3%B6rsalsv%C3%A4gen+9,+412+58+G%C3%B6teborg,+V%C3%A4stra+G%C3%B6talands+l%C3%A4n&aq=&sll=57.688606,11.979255&sspn=0.001761,0.005059&vpsrc=0&ie=UTF8&hq=&hnear=H%C3%B6rsalsv%C3%A4gen+9,+412+58+G%C3%B6teborg&ll=57.688288,11.979454&spn=0.007042,0.020235&t=m&z=16&iwloc=A">
                  Hubben 2.1<br />
                  Hörsalsvägen 9<br />
                  412 58 Göteborg
                </a></dd>
              </div>
            </div>
          </div>
        </section>
      <% end %>
      <% cache ['footer_committees', I18n.locale] do %>
        <section class="large-4 columns">
            <% @committees.each do |com| %>
              <% cache ['footer_committee', I18n.locale, com] do %>
                <div class="row">
                  <div class="column small-6 large-8 text-right">
                    <dt><%= com.title %></dt>
                  </div>
                  <div class="column small-6 large-4">
                    <dd><%= link_to com.name, com %></dd>
                  </div>
                </div>
              <% end %>
            <% end %>
        </section>
      <% end %>
      </div>
      </div>
    </footer>
    <div class="footer-foot">
        <div class="wrapper">
        <p><small><%= t 'developed_by' %> <a href="https://digit.chalmers.it" title="digIT"> digIT</a>  <span class="footer-foot-divider">|</span>  <a href="/humans.txt"><%= t 'more_info' %></a></small></p>
          </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
