<!DOCTYPE html>
<!-- For more information about the tech and the developers, GET /humans.txt -->
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <!-- iOS Homescreen specials -->
  	<meta name="apple-mobile-web-app-title" content="Chalmers.it">
  	<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

  	<!-- Viewport setting -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no" />

    <title><%= yield(:title) + ' | ' if content_for?(:title) %><%= Configurable.site_title %></title>

    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic" rel="stylesheet" type="text/css">
    <% I18n.available_locales.each do |locale| %>
      <%= auto_discovery_link_tag(:rss, feed_url(locale: locale), title: t('in_locale', {name: Post.model_name.human(count: 2), lang: t(locale)})) %>
    <% end %>
    <%= javascript_include_tag "i18n" %>
    <%= javascript_include_tag "translations" %>
    <%= javascript_tag do %>
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    <% end %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
    <style type="text/css">
      [role="banner"] {
        background-image: url( <%= @banner.nil? ? (image_path "header_styrit_16.jpg") : (image_path @banner.image) %> );
      }
    </style>
    
    <!-- Cut/Copy with Javascript -->
    <%= javascript_include_tag "https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.16/dist/clipboard.min.js", async: true %>

  </head>

  <body class="<%= body_classes %>">
    <header role="banner">
      <div class="top-bar">
        <div class="inner-bar" id="site-menu">
          <div class="wrapper group">
              <h1>
                <%= link_to root_path(locale: locale_or_nil), class: 'logo' do %>
                    <span class="logo-text"><%= t 'it' %><br />
                    <small><%= t 'chs' %></small></span>
                <% end %>
              </h1>
            <nav role="navigation" class="main-nav">
              <ul id="menu-huvudnavigation">
                <% Menu.links_for_menu_cached('main').each do |link| %>
                  <%= header_link_to_current t(link.title), link.path, link.controller %>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>

        <div class="header-toolbar wrapper">
          <a id="main-nav-toggle">≡</a>
          <ul class="header-controls horizontal-list icon-align">
            <% if signed_in? %>
              <li class="user-details">
                <strong><%= current_user.display_name %></strong>
              </li>
              <li class="dropdown">
                <span id="tools-menu-trigger" class="dropdown-trigger"><%= fa_icon 'cog', text: t('.tools') %></span>
                <ul class="dropdown-sub">
                  <% if policy(Post).create? %>
                    <li><%= link_to t('.new_news_post'), new_post_path %></li>
                  <% end %>
                  <% if policy(Page).create? %>
                    <li><%= link_to t('.new_page'), new_page_path %></li>
                  <% end %>
                  <% if policy(Frontpage).edit? %>
                    <li><%= link_to t('.edit_frontpage'), edit_frontpage_path %></li>
                  <% end %>
                  <% if policy(Committee).create? %>
                    <li><%= link_to t('.add_committee'), new_committee_path %></li>
                  <% end %>
                  <% if policy(MenuLink).edit? %>
                    <li><%= link_to t('.edit_menu_links'), menu_links_path %></li>
                  <% end %>
                  <% if policy(Menu).edit? %>
                    <li><%= link_to t('.edit_menu'), menus_path %></li>
                  <% end %>
                  <% if policy(Sponsor).edit? %>
                    <li><%= link_to t('.edit_sponsor'), sponsors_path %></li>
                  <% end %>
                  <% if policy(Banner).create? %>
                    <li><%= link_to Banner.model_name.human(:count => 2), banners_path %></li>
                  <% end %>
                  <li><%= link_to t('.edit_profile'), edit_user_path %></li>
                  <li><%= link_to t('logout'), signout_path %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to t('login'), "/auth/account", class: 'button tiny', id: 'login-btn' %></li>
            <% end %>
            <li id="header-search">
              <%= form_tag(search_path, :method => :get) do %>
                <%= search_field_tag :search, params[:search], placeholder: t('.search_news') %>
                <i class="fa fa-search"></i>
              <% end %>
            </li>
            <li class="flags dropdown">
              <span class="dropdown-trigger"><%= image_tag("flags/#{I18n.locale}.svg") %> <i class="fa fa-caret-down"></i></span>
              <ul class="dropdown-sub">
                <% I18n.available_locales.each do |item| %>
                  <% unless I18n.locale == item %>
                    <li><%= link_to image_tag("flags/#{item}.svg"), locale: item %></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section role="main" class="wrapper">
      <%= render 'layouts/messages' %>
