<!DOCTYPE html>
<%= render 'layouts/digit_comment' %>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= yield(:title) + ' | ' if content_for?(:title) %>Informationsteknik på Chalmers</title>

    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic" rel="stylesheet" type="text/css">
    <%= auto_discovery_link_tag(:rss, feed_url) %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller.controller_name %>">
    <header role="banner">
      <div class="top-bar">
        <div class="inner-bar">
          <div class="wrapper group">
            <h1><a href="/" class="logo">Chalmers IT</a></h1>
            <nav role="navigation" class="main-nav">
              <ul id="menu-huvudnavigation" class=""><li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="https://chalmers.it/sektionen/">Sektionen</a></li>
                <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="https://chalmers.it/nyheter/">Nyheter</a></li>
                <li id="menu-item-2287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2287"><a href="https://chalmers.it/kurser/">Kurser</a></li>
                <li id="menu-item-363" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-363"><a href="https://chalmers.it/foretag/">Företag</a></li>
                <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="https://chalmers.it/kontakt/">Kontakt</a></li>
              </ul>
            </nav>
            <form role="search" action="/" method="get">
              <input type="search" placeholder="Sök på Chalmers.it" results="0" name="s"/>
            </form>
          </div>
        </div>

        <div class="header-toolbar wrapper">
          <a id="main-nav-toggle" class="show-for-small">≡</a>
          <ul class="header-controls horizontal-list">
            <li><a class="btn-round small" id="login-btn" href="https://account.chalmers.it/?redirect_to=https%3A%2F%2Fchalmers.it%2Funcategorized%2Fkursvalsinfo-3%2F">Logga in</a></li>
            <li><a href="//account.chalmers.it/?page=reset">Glömt lösenord</a></li>
            <li>
              <form role="search" action="/" method="get">
                <input type="search" placeholder="Sök på Chalmers.it" results="0" name="s"/>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section role="main" class="wrapper">
      <%= render 'layouts/messages' %>