<!DOCTYPE html>
<%= render 'layouts/digit_comment' %>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= yield(:title) + ' | ' if content_for?(:title) %>Informationsteknik på Chalmers</title>

    <link href="//fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="home">
    <header role="banner">
      <div class="top-bar">
        <div class="inner-bar">
          <div class="wrapper-group">
            <h1><a href="/" class="logo">Chalmers IT</a></h1>
            <nav role="navigation" class="main-nav">
              MENU MENU MENU
            </nav>
              SEARCHBOX
          </div>
        </div>

        <div class="header-toolbar wrapper">
          
        </div>

      </div>
    </header>
    <section role="main" class="wrapper">