<!DOCTYPE html>
<!-- For more information about the tech and the developers, GET /humans.txt -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= yield(:title) + ' | ' if content_for?(:title) %><%= Configurable.site_title %></title>

    <link href="//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic" rel="stylesheet" type="text/css">
    <% I18n.available_locales.each do |locale| %>
      <%= auto_discovery_link_tag(:rss, feed_url(locale: locale), title: t('in_locale', {name: Post.model_name.human(count: 2), lang: t(locale)})) %>
    <% end %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= body_classes %>">
    <header role="banner">
      <div class="top-bar">
        <div class="inner-bar">
          <div class="wrapper group">
              <h1>
                <%= link_to root_path(locale: locale_or_nil), class: 'logo' do %>
                    <%= t 'it' %><br />
                    <small><%= t 'chs' %></small>
                <% end %>
              </h1>
            <nav role="navigation" class="main-nav">
              <ul id="menu-huvudnavigation">
                <% Menu.find_by(name: 'main').links.each do |link| %>
                  <%= header_link_to_current link.title, link.path %>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>

        <div class="header-toolbar wrapper">
          <a id="main-nav-toggle" class="show-for-small">≡</a>
          <ul class="header-controls horizontal-list">
            <% if signed_in? %>
              <li class="user-details">
                <strong><%= current_user.display_name %></strong>
              </li>
              <li class="dropdown">
                <span id="tools-menu-trigger" class="dropdown-trigger"><%= fa_icon 'cog', text: 'Verktyg' %></span>
                <ul class="dropdown-sub">
                  <li><%= link_to 'Posta nyhet', new_post_path %></li>
                  <li><%= link_to 'Skriv ut', '#print_path' %></li>
                  <li><%= link_to 'Boka rum', 'https://chalmers.it/bokning/' %></li>
                  <li><%= link_to 'Schema', 'https://se.timeedit.net/web/chalmers/db1/public/ri1Q7.html', target: '_blank' %></li>
                  <li><%= link_to 'Redigera profil', edit_user_path %></li>
                  <li><%= link_to 'Admin', '#admin_path', target: '_blank' %></li>
                  <li><%= link_to t('logout'), signout_path %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to t('login'), "/auth/account", class: 'button tiny', id: 'login-btn' %></li>
            <% end %>
            <li>
              <form role="search" action="/" method="get">
                  <input type="search" placeholder="<%= t 'search' %>" results="0" name="s"/>
              </form>
            </li>
            <li class="flags">
              <ul class="horizontal-list">
                <% I18n.available_locales.each do |item| %>
                  <% unless I18n.locale == item %>
                    <li><%= link_to image_tag("flags/#{item}.svg"), locale: item == I18n.default_locale ? nil : item %></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section role="main" class="wrapper">
      <%= render 'layouts/messages' %>
