<%= render 'layouts/header' %>
<aside class="large-3 columns sidebar">
<%= yield(:sidebar_left) %>
</aside>
<section class="large-6 columns <%= 'large-offset-3' if !content_for?(:sidebar_left) && !content_for?(:sidebar_right) %>">
  <article class="box" role="article">
    <% if content_for? :subtitle %>
      <hgroup class="page-title">
        <h1><%= yield(:title) %></h1>
        <h2><%= yield(:subtitle) %></h2>
      </hgroup>
    <% else %>
      <h1 class="huge"><%= yield(:title) %></h1>
    <% end %>
    <div class="article-content">
      <%= yield %>
    </div>
  </article>
</section>
<aside class="large-3 columns sidebar">
<%= yield(:sidebar_right) %>
</aside>
<% cache ['footer', I18n.locale] do %>
  <%= render 'layouts/footer' %>
<% end %>
