<%= render 'layouts/header' %>
<header class="row">
  <div class="front-title large-4 columns">
    <div class="box">
      <h1>
          <span class="detail"><%= t 'techsec' %></span><br>
        <%= t 'it' %><br>
        <span class="detail"><%= t 'chs' %></span>
      </h1>
    </div>
  </div>
  <div class="quick-buttons large-5 columns">
    <ul class="box list">
        <li><a data-tooltip title="TimeEdit" href="https://se.timeedit.net/web/chalmers/db1/public/ri1Q7.html" class="has-tip tip-top"><%= fa_icon 'table', text: t('.schema') %></a></li>
        <li><a data-tooltip title="<%= t '.book_hubben_desc' %>" href="https://bookit.chalmers.it/bookings/new" class="has-tip tip-top"><%= fa_icon 'home', text: t('.booking') %></a></li>
        <li><a data-tooltip title="<%= t '.book_chalmers_desc' %>" href="https://se.timeedit.net/web/chalmers/db1/b1/" target="_blank" class="has-tip tip-top"><%= fa_icon 'users', text: t('.group_room') %></a></li>
        <li><a data-tooltip title="<%= t '.print_desc' %>" href="printpath" class="has-tip tip-top"><%= fa_icon 'print', text: t('.print') %></a></li>
        <li><a data-tooltip title="<%= t '.charge_card_desc' %>" href="http://kårkort.se" class="has-tip tip-top"><%= fa_icon 'credit-card', text: t('.charge_card') %></a></li>
    </ul>
  </div>
  <div class="user-area large-3 columns">
    USER LOGIN
  </div>
</header>

<section class="dashboard row">
  <div class="large-6 columns">
    <section class="news box">
      <header class="panel-header">
          <h1><%= Post.model_name.human(count: 2) %></h1>
      </header>
      <%= yield %>
    </section>
  </div>
  <div class="large-3 columns"></div>
  <div class="large-3 columns">
    <%#= render partial: 'twitter/widget', locals: { handle: 'chalmersit' } %>
    <%#= render partial: 'twitter/widget', locals: { handle: 'FlashITChalmers' } %>
    <section class="box widget it-calendar">
      <header>
        <h3>Evenemang</h3>
      </header>
      <div class="gce-widget-grid">
        <%#= calendar Configurable.calendar_url %>
      </div>
    </section>
  </div>
</section>
<%= render 'layouts/footer' %>
