<%= render 'layouts/header' %>
<header class="row">
  <div class="front-title large-4 columns">
    <div class="box">
      <h1>
          <span class="detail"><%= t 'techsec' %></span><br>
        <%= t 'it' %><br>
        <span class="detail"><%= t 'chs' %></span>
      </h1>
    </div>
  </div>
  <div class="quick-buttons large-5 columns">
    <ul class="box list text-center">
        <li><a data-tooltip data-options="disable_for_touch:true" title="TimeEdit" href="https://se.timeedit.net/web/chalmers/db1/public/ri1Q7.html" target="_blank" class="has-tip tip-top"><%= fa_icon 'table', text: t('.schema') %></a></li>
        <li><a data-tooltip data-options="disable_for_touch:true" title="<%= t '.book_hubben_desc' %>" href="https://bookit.chalmers.it/bookings/new" target="_blank" class="has-tip tip-top"><%= fa_icon 'home', text: t('.booking') %></a></li>
        <li><a data-tooltip data-options="disable_for_touch:true" title="<%= t '.book_chalmers_desc' %>" href="https://se.timeedit.net/web/chalmers/db1/b1/" target="_blank" class="has-tip tip-top"><%= fa_icon 'users', text: t('.group_room') %></a></li>
        <li><a data-tooltip data-options="disable_for_touch:true" title="<%= t '.print_desc' %>" href="<%= new_print_path %>" class="has-tip tip-top"><%= fa_icon 'print', text: t('.print') %></a></li>
        <li><a data-tooltip data-options="disable_for_touch:true" title="<%= t '.charge_card_desc' %>" href="http://kårkort.se" target="_blank" class="has-tip tip-top"><%= fa_icon 'credit-card', text: t('.charge_card') %></a></li>
        <li><a data-tooltip data-options="disable_for_touch:true" title="<%= t '.slack_desc' %>" href="https://slack.chalmers.it/signup" target="_blank" class="has-tip tip-top"><%= fa_icon 'slack', text: t('.slack') %></a></li>
    </ul>
  </div>
  <div class="user-area large-3 columns">
    <%= render 'home/today', events: @events %>
  </div>
</header>

<section class="dashboard row">
  <div class="large-6 columns">
    <section class="news box">
      <header class="panel-header">
          <h1><%= Post.model_name.human(count: 2) %></h1>
      </header>
      <%= yield %>
    </section>
  </div>
  <div class="large-3 columns">
    <div class="lunch_feed box" data-url="<%= url_for controller: 'lunch', action: 'feed' %>">
      <header>
          <h2>Lunch
          <time datetime="<%= Date.today.to_s '%F' %>"><%= l Date.today, format: '%e %B' %></time>
          </h2>
      </header>

      <div class="loading-indicator">
        <i class="fa fa-cutlery loading-indicator-feature"></i>
        <div class="loading-indicator-text"><%= t 'loading' %>...</div>
      </div>
    </div>
    <% cache ['sponsors', [I18n.locale, Sponsor.all]] do %>
      <% Sponsor.all.order(:order).each do |sponsor| %>
        <div class="box">
          <%= render :partial => 'sponsors/sponsor', :locals => {:sponsor => sponsor} %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="large-3 columns">
    <section class="box widget it-calendar" data-url="<%= url_for controller: 'calendar', action: 'fetch' %>">
      <header>
          <h3><%= t '.events' %></h3>
      </header>

      <div class="loading-indicator">
        <i class="fa fa-calendar loading-indicator-feature"></i>
        <div class="loading-indicator-text"><%= t 'loading' %>...</div>
      </div>
    </section>

    <section class="box widget card-balance">
      <h3><%= t '.student_union_card' %></h3>
      <div id="student-union-card">
        <%= render partial: 'card_balance_form' %>
      </div>
    </section>
  </div>
</section>
<% cache ['footer', I18n.locale] do %>
  <%= render 'layouts/footer' %>
<% end %>
